<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <title>Dynamic website</title>
    <style>
        html{
            font-size:62.5%;
        }

       @media (min-width:768px and max-width:998px){
           html{
               font-size: 55%;
           }
       }
        @media (max-width:768px){
           html{
               font-size: 45%;
           }
       }

        .flx{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .weather{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 10rem 0;
            min-height: 30rem;
            width: 30rem;
            filter: drop-shadow(1rem 1rem 5rem green);
            background-color: rgb(112, 139, 112);
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        .display{
            min-height: 15rem;
            width: 20rem;
            background-color:rgb(135, 184, 184);
            filter: drop-shadow(1rem 1rem 1rem green);
            text-align: center;
            padding: 2rem;
            margin-top: 5rem;
        }
        input[type="text"]{
            background-color: grey;
        }
       .txt{
           padding-top: 20rem;
       }
    </style>
</head>
<body>
 
  {{>navbar}}
<!-- main part -->
<div class="flx">
    <div class="txt">
 <h1 style="color: white;">Please enter your city name</h1>
 </div>
 
   <div class="weather">
  <div class="search">
      <input type="text" id="city"> <button id="sub">Submit</button>
  </div>

  <div class="display">
      <p id="cityname" style="color: ghostwhite; font-size:x-large ">CityName</p>
      <p id="wt"  style="color: aqua; font-size:x-large;"> <span id="temp" style="font-size: x-large;" > Temp </span> <sup>0</sup> C </p> 
      <p id="status" style="color: rgb(49, 82, 230); font-size:x-large">Status</p>
      
  </div>
 </div>

 </div>
<!--Footer-->

<div class="foot">
  <p>Thank U for Visiting </p>
</div>

<script src="java.js"></script>
</body>
</html>