*{
    box-sizing: content-box;
    margin:0px;
    padding: 0px;
    font-size: large;
}
html{
    font-size:62.5%;
}

@media (max-width:998px){
   html{
       font-size: 55%;
   }
}
@media (max-width:768px){
   html{
       font-size: 45%;
   }
}

.navbar{
    padding: 0 2rem;
    
    font-size:2rem;
    background:linear-gradient(rgb(123, 172, 201))
}
.navbar .navbar-nav{
    font-size: x-large;
    font-weight: 700;
    margin: 0 auto;
    
}
.navbar .nav-item {
    padding:0 3rem;
   
}
.navbar .nav-item a {
    color: aqua;
}

.itms{
    display: flex;
    color: rgb(255, 187, 0);
}
body{
    background: linear-gradient(rgb(55, 0, 255),white);
}

.slides{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
    margin: 10rem 10rem;
}
.slides img{
    filter: drop-shadow(1rem 1rem 1rem rgb(50, 164, 199));
}

.fa-snowflake{
    transition: all linear;
    animation: rot 2s linear infinite;
    color: aqua;
}
@keyframes rot{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.foot{
    margin-top: 30rem;
    padding: 3rem;
    height: 3rem;
    background-color: darkslategray;
    color: aqua;
    text-align: center;
}
.carousel-item img{
    height: 25rem;
    width: 25rem;
    margin:0rem 5rem;
}